[package]
name = "restate-sdk-shared-core"
version = "0.0.4"
edition = "2021"
description = "SDK Shared core"
license = "MIT"
repository = "https://github.com/restatedev/sdk-shared-core"

[dependencies]
thiserror = "1.0.61"
prost = "0.13"
bytes = "1.6"
bytes-utils = "0.1.4"
ambassador = "0.4.0"
tracing = "0.1.40"
paste = "1.0.15"
strum = { version = "0.26", features = ["derive"] }
base64 = "0.22"
bs58 = { version = "0.5.0" }
sha2 = "0.11.0-pre.3"
ring = { version = "0.17.8" }
jsonwebtoken = { version = "9.3.0" }
serde = { version = "1.0.204", features = ["derive"] }

[dev-dependencies]
googletest = "0.11.0"
test-log = { version = "0.2.16", default-features = false, features = ["trace", "color"] }
assert2 = "0.3.14"
prost-build = "0.13"
